*{
    font-family: 'Roboto';
    margin: 0;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* Display Section */
.main-display{
    display: flex;
    flex-direction: column;
    background: #1f2937;
    padding-bottom: 50px;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
}
.header-logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
ul{
    display: flex;
    list-style: none;
}
li a{
    text-decoration: none;
    color: #f9faf8;
    font-size: 14px;
    margin-left: 32px;
}
.display{
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
    margin: 20px 100px;
}
.display > .display-one{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 12px;
}
.display-one > .heading{
    font-size: 48px;
    font-weight: 900;
    text-wrap: nowrap;
}
.display-one > .sub-text-one{
    margin-top: 5px;
    font-size: 18px;
    color: #e5e7eb;
}
.display-one > button{
    background: #3882f6;
    border: none;
    color: #e5e7eb;
    font-weight: bold;
    border-radius: 8px;
    width: 20%;
    height: 30px;
}
.display-two{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    width: 40%;
}

/* Main Section */
.main-one{
    display: flex;
    flex-direction: column;
    margin: 20px 100px;
}
.heading-two{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}
.boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.info{
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.info > .box{
    border: 2px solid #3882f6;
    border-radius: 12px;
    width: 80%;
    height: 150px;
}
.info > .text{
    margin-top: 10px;
    width: 80%;
    text-align: center;
}

.main-two{
    background: #e5e7eb;
    padding: 100px;
}
.main-two > .quote{
    margin: 0px 118px;
    font-style: italic;
    font-size: 36px;
}
.main-two > .author{
    font-weight: 900;
    margin: 15px 118px;
    font-size: 30px;
    text-align: right;
}

.main-three{
    background: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px 100px;
    margin-top: 0;
}
.main-three > .rectangular-box{
    background: #3882f6;
    width: 80%;
    padding: 48px 100px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head-text{
    color: #f9faf8;
    font-size: 26px;
}
.sub-text-two{
    color: #e5e7eb;
    font-size: 18px;
}
.signup-two{
    border: 2px solid #f9faf8;
    background: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 8px;
    width: 15%;
    height: 40px;
}

.footer{
    background: #1f2937;
    color: #f9faf8;
    padding: 26px 0;
    text-align: center;
}